*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
    scroll-behavior: smooth;
}
:root{
    --primary-color:#edf2fc;
    --secondary-color:#212121;
    
}
#icon{
    width:30px;
    cursor:pointer;
    float:right;
   margin-right: 20px;
   margin-top: -10px;
}
#container{
    overflow-x: hidden;
 

}
.header{
   
    height:100%;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("banner1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20px;
    text-align: center;
    color: #fff;
}
.bar{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding: 1.3 rem 10%;
   
    display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
}

.bar::before{
    content:" ";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:rgba(0,0,0,0.1);
    backdrop-filter: blur(0.5px);
    z-index: -1;

}
.header img{
display: block;
    width:100px;
    float:left;
    position: relative;
    left: 20px;
}
.nav-bar a{
    
    color:#fff;
   margin-left: 2.5rem;
   margin-right: 2.5rem;
    font-weight:800;
    font-size: 25px;
}



.nav-bar li{
    list-style-type: none;
}

.login-button{
    margin-top: 10px;
    width:100px;
    padding:8px 0;
    outline:none;
    border:4px solid ;
    border-radius: 50px;
    background: transparent;
    color:#fff;
    float:right;
    padding:10px;
}

@media screen and (max-width: 768px) {
    .bar {
      padding: 1rem 5%;
    }
    .nav-bar a {
        font-size: 20px;
      }
      .content h1 {
        top: 0;
      }
  }
.header h1{
    padding-top:130px;
    padding-bottom:40px ;
    font-size: 55px;
    font-weight: 500;
    text-shadow:  2px 5px red;

}
.content h1{
    position: relative;
    top:-60px;
}
.changecontent::after{
    content: ' ';
    color: #ffa500;
    text-shadow: 7px 7px 5px black;
    animation: changetext 10s infinite linear;
   
}
@keyframes changetext{
    0%{content: "Mumbai";}
    10%{content: "Chandigarh";}
    20%{content: "Pune";}
    30%{content: "Chennai";}
    40%{content: "Banglore";}
    50%{content: "Delhi";}
    60%{content: "Goa";}
    70%{content: "Jaipur";}
    80%{content: "Amritsar";}
    90%{content: "Dharamshala";}
    100%{content: "Shimla";}
} 
.input-group{
    width:90%;
    max-width: 500px;
    border-radius: 30px;
    background: #fff;
    margin: auto;
    padding: 2px;
    position: relative;
    top: 75px;
}

.form-control{
    border: 0 !important;
    border-radius: 30px 0 0 30px !important;
    margin: 2px;
    box-shadow: none !important;
}
.input-group-text-btn{
    width:100px;
    height: 50px;
    background-image: linear-gradient(#00ff7e,#1f3d90);
    border: 0 !important;
    color: #fff !important;
    padding:0 25px;
    border-radius: 40px;
    box-shadow: none;
}
.features{
    margin-top: -60px;
    padding:100px 0;
}
h1{
text-align: center;
padding-bottom: 30px;
}
.feature-img img{
    width:100%;
}
.price{
    width:70px;
    height:50px;
    background: #ff5722;
    color: #fff;
    font-weight: 600;
    border-radius: 50%;
    padding: 10px;
    box-shadow:  0 0 10px 1px rgba(37,73,214,0.18);
    position: absolute;
    left: 20px;
    bottom: -20px;
}
.feature-img{
    position: relative;
}
.rating{
    padding: 3px;
    float: right;
    background:var(--secondary-color);
    bottom: -1px;
    right: 0px;
   
}
.features .fa{
    font-size: 15px;
    color: #ff5722;
}
.feature-details{
    
    padding:20px;
    text-align: justify;
}
.feature-details h4{
font-weight: 600px;
margin-top: 20px;
}
.feature-details .fa{
    margin-right:5px ;
}
.feature-box{
    box-shadow:  0 0 5px 1px green;
    margin-bottom: 30px;

}

.lightbox{
    display: none;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: 2;

}
.lightbox:target{
    display: block;
}
.lightbox span{
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.gallery{
    padding:100px 0;
    background: #efefef;
}
.gallery-box img{
    width:100%;
    border-radius:10px;
    cursor:pointer;
    transition:2s ease-in;
}
.gallery-box img:hover{
    
   
    transform:rotate(15deg)
   
}

.gallery-box h4{
    width:200px;
    font-weight:600;
    /* position:absolute; */
    top:50%;
    left:50%;
}
.gallery-box{
    position: relative;
    margin-bottom: 30px;
}

/* Book section */
.book{
    background:linear-gradient(#2d557d,#d64c43);
    padding: 50px;
}
.main-text {
    text-align: center;
    font-weight:600 ;
    text-shadow: 0px 1px 1px black;
}
.card{
    width:100%;
    height:100%;
}
.card img{
    position: relative;
    left: -2.5px;
    border-radius: 10px;
    box-shadow:  0px 5px 5px 2px black;
    width:100%;


}
.row{
    margin-top: 30px;
    color:var(--primary-color)
}
.book-control{
    width: 100%;
    padding:10px;
    color: black;
    border: 2px solid black;
    font-size: 15px;
    border: 10px;
    box-shadow:  0px 5px 5px -6px black ;
}
.book-form{
    margin-left: 60px;
}
.book-form textarea{
    width: 100%;
    height: 300px;
    margin-right: 80px;
  
}
.book-form button{
    position: relative;
    right:70%;
}
.book-button{
    border: 2px solid black;
    border-radius: 20px;
    width:160px;
    height:50px;
    font-size: 16px;
    font-weight: 550;
    background: #ffa500;
    color: #fff;
    margin-top: 10px;
    transition: 0.5s;
    right: 140px;
}
.book-button:hover{
    width:200px;
    height: 60px;
    background: black;
}
.banner{
    height:80%;
    background-image:url("banner2.jpg");
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    padding-top:15%
}
.banner-highlights{
    padding:70px;
    background: rgb(0,0,0,0.7);
    color:white;
    text-align:center;
}
.booking-btn{
    width:120px;   
     padding:8px 0;
    outline: none !important;
    border:2px solid #fff;
    border-radius:50px;
    background: transparent;
    color:#fff;
    margin-top: 20px;
    
}
.user-feedback{
    padding: 100px 0;

}
.user-review{
    text-align: center;
    box-shadow:  0 0 10px  var(--primary-color);
    background-color: var(--primary-color);
    padding-bottom: 50px;
    color: var(--secondary-color);
}
.user-review p{
    padding:50px 10px 10px 10px;
    
}
.user-feedback img{
    width:60px;
    height:60px;
    border-radius: 50%;
    margin: -30px 0 20px 40%;
    position: relative;
}
.footer{
    padding:100px 20px;
    background-image: linear-gradient(#2d557d,#9610fb);
    color:var(--primary-color);

}

.footer-logo{
    width:150px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer h4{
    text-align:left;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-top:justify;
    color: var(--primary-color);
}
.footer p{
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
}
.footer hr{
    margin-top: 10px;
    background-color:var(--secondary-color)
}
.login-form{
    width: 100%;
    height: 100vh;
    background-image: url("./images/bg.jpg");
    background-size: cover;
    background-position: 55%;
}
.login{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.25px);
    border: 1px solid #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5px);
    border-right: 1px solid rgba(255, 255, 255, 0.5px);
    border-radius: 20px;
    box-shadow: 0px 25px 50px rgba(0,0,0,0.1);
}
.login h2{
    width: 100%;
    margin-bottom: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    color: #8f2c24;
}
.login .inputbox input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-size: 1.25em;
    color: #8f2c24;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
}
.login .inputbox input::placeholder{
    color: #8f2c24;
    font-size: 17px;
}
#btn{
    position: relative;
    border: none;
    outline: none;
    color: white;
    background-color: #8f2c24;
    font-size: 1.25em;
    font-weight: 500;
    transition: 0.5;
}
#btn:hover{
    background-color: #d64c43;
}
.bottom-content{
    display: flex;
    justify-content: space-between;
}
.bottom-content a{
    font-size: 1.25em;
    color: #8f2c24;
    font-weight: 500;
    text-decoration: none;
}

.nav-bar  ul{
    display:flex;
    justify-content:space-evenly;
    margin-right: 20px;
    color: #fff;
    font-size: medium;
}
#search{
    display:flex;
    padding-top: 10px;

    justify-content: flex-end;
}
.nav-bar a{
    text-decoration: none;
    
}

.contact{
   
    text-align: center;
    background-image: linear-gradient(#456);
    color:black;

}
.contact h3{
    padding:30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;

}
.contact p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    margin-bottom: 10px;
}
#textarea{
    border: 2px solid black;
}
#name{
    border: 2px solid black;
}
#email{
    border: 2px solid black;
}
.form{
    width:100%;

}
input,textarea{
    width:70%;
    padding:10px 0;
    margin: 20px 0;
    border: none;
    box-shadow:  0 0 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    font-size: 1.4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #ff7f50;
    padding: 12px 30px;
    border-radius: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    border: none;
    transition: all ease 0.3s;
}
.form button:hover{
    background-color: #333;
}
#icon{
    cursor: pointer; 
    width:30px;
 }
 :root{
     --primary-color:#edf2fc;
     --secondary-color:#212121;
 }
 .dark-theme{
  --primary-color:#000106;
    --secondary-color:#fff;
 }
.social-links{
    font-size: 50px;
    cursor: pointer;
    color:var(--secondary-color);
 }
#hotels{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}